<section class=@@class>
  <div class="container">
    <h2 class="sr-only">This is partners our shop</h2>
    <ul class="partners__items">
      @@loop('_partner.html', [
      { "src": "1.png", "alt":"Logo Peterson and Stephanie"},
      { "src": "2.png", "alt":"Logo KMN consulting"},
      { "src": "3.png", "alt":"Logo chainforce"},
      { "src": "4.png", "alt":"Logo NEXTG3N"},
      { "src": "5.png", "alt":"Logo Vintage"},
      { "src": "5.png", "alt":"Logo Vintage"},
      ])
    </ul>
  </div>
</section>