@mixin for-phone-only {
  @media (max-width: 450px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin trim($numLines: null) {
  @if $numLines != null {
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } @else {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
}

@mixin trimTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
