@mixin for-phone-only {
  @media (max-width: 450px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin line-clamp($lines-to-show) {
  display: -webkit-box;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
