<li class="team__item">
  <div class="team__image">
    <img class="team__img" src=images/about/team/@@src alt="photo @@name">
  </div>
  <div class="team__info">
    <div class="team__detail">
      <span class="team__name">@@name</span>
      <span class="team__position">Commodo tempor</span>
    </div>

    <ul class="team__social">
      <li class="team__list">
        <a class="team__social-link" href="#">
          <span class="sr-only">google link</span>
          <svg class="team__google">
            <use xlink:href="images/icons/sprite.svg#google"></use>
          </svg>
        </a>
      </li>

      <li class="team__list">
        <a class="team__social-link" href="#">
          <span class="sr-only">instagram link</span>
          <svg class="team__instagram">
            <use xlink:href="images/icons/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>