<form class="message__form" action="#">
  <div class="message__inputs">
    <div class="message__box message__box--name">
      <label>
        <input class="message__input" type="text" placeholder="Name">
      </label>
    </div>
    <div class="message__box message__box--mail">
      <label>
        <input class="message__input" type="email" placeholder="@@mail">
      </label>
    </div>
  </div>
  <div class="message__box message__box--comment">
    <label>
      <textarea class="message__textarea" placeholder="@@area"></textarea>
    </label>
  </div>
  <button class="message__btn" type="submit">@@btn</button>
</form>