<div class=@@class>
  <ul class="pagination__items">
    @@loop('_li.html',[
    {
    "class": "pagination__item",
    "class-link":"pagination__link pagination__link--active",
    "href":"#",
    "text":"1"
    },
    {
    "class": "pagination__item",
    "class-link":"pagination__link",
    "href":"#",
    "text":"2"
    },
    {
    "class": "pagination__item",
    "class-link":"pagination__link",
    "href":"#",
    "text":"3"
    },
    {
    "class": "pagination__item",
    "class-link":"pagination__link",
    "href":"#",
    "text":"Next"
    }
    ])
  </ul>
</div>