<section class=@@class>
  <div class="container">
    <span class="sr-only">This is partners our shop</span>
    <ul class="partners__items">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/1.png" alt="Logo Peterson and Stephanie">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/2.png" alt="Logo KMN consulting">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/3.png" alt="Logo chainforce">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/4.png" alt="Logo NEXTG3N">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/5.png" alt="Logo Vintage">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/1.png" alt="Logo Peterson and Stephanie">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/2.png" alt="Logo KMN consulting">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/3.png" alt="Logo chainforce">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/4.png" alt="Logo NEXTG3N">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__img" src="images/global/partners/5.png" alt="Logo Vintage">
        </a>
      </li>
    </ul>
  </div>
</section>