<li class="@@class">
  <article class="product">
    <div class="product__image">
      <img class="product__img" src=images/global/product/@@src alt="@@alt">
    </div>

    <div class="product__box">
      <h3 class="product__subtitle">
        <a class="product__link" href="#">@@name</a>
      </h3>
      <div class="product__rate" data-rateyo-rating="4"></div>
      <span class="product__cost">$29.00</span>
      <div class="product__text">
        <p>
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation
        </p>
      </div>

      <div class="product__btn btn">
        <button class="btn__shop" type="button">
          <span class="sr-only">add product to cart</span>
          <svg class="btn__icon">
            <use xlink:href="images/icons/sprite.svg#shop__icon"></use>
          </svg>
        </button>

        <button class="btn__favorite" type="button">
          <span class="sr-only">add product to favorite</span>
          <svg class="btn__icon">
            <use xlink:href="images/icons/sprite.svg#heart__icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="product__lists">
      <div class="product__list">
        <a class="product__detail" href="#">
          <span class="sr-only">view detail information about product</span>
          <svg class="product__icon">
            <use xlink:href="images/icons/sprite.svg#search__icon"></use>
          </svg>
        </a>
      </div>

      <div class="product__list">
        <button class="product__shop" type="button">
          <span class="sr-only">add product to cart</span>
          <svg class="product__icon">
            <use xlink:href="images/icons/sprite.svg#shop__icon"></use>
          </svg>
        </button>
      </div>

      <div class="product__list">
        <button class="product__favorite" type="button">
          <span class="sr-only">add product to favorite</span>
          <svg class="product__icon">
            <use xlink:href="images/icons/sprite.svg#heart__icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </article>
</li>