<section class="blog">
  <div class="container">
    <div class="blog__inner">
      <h2 class="blog__title">Our Insights & Articles</h2>
      <a class="blog__more" href="posts.html">
        View All
        <svg class="blog__icon">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
      </a>
    </div>

    <ul class="blog__items">
      @@loop('_blog-item.html', [
      { "text": "Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam",
      "src": "1.jpg", "alt": "bed against the background of the window"},
      { "text": "Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore",
      "src": "2.jpg", "alt":"bed against the background of the window"},
      { "text": "Rncididunt ut labore et dolore magna aliqua. Ut enim",
      "src": "3.jpg", "alt":"bed against the background of the window"},
      ])
    </ul>
  </div>
</section>