<li class="blog__item">
  <a class="blog__link" href="post.html">
    <img class="blog__img" src="images/global/blog/@@src" alt="@@alt">
  </a>
  <a class="blog__subtitle" href="posts.html">News</a>
  <h3 class="blog__content">
    <a class="blog__link" href="post.html">@@text</a>
  </h3>
  <div class="blog__posted">
    <time class="blog__date" datetime="2020-01-28">
      28 january, 2020
    </time>
    <span class="blog__author">
      <a class="blog__author-link" href="#">by admin</a>
    </span>
  </div>
</li>