.blog {
  padding-top: 99px;

  @include for-tablet-landscape-up {
    padding-top: 25px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @include for-tablet-portrait-up {
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: 36px;
    @extend %dmsans-700;

    @include for-tablet-portrait-up {
      font-size: 28px;
      line-height: 1.3;
    }
  }

  &__more {
    position: relative;
    color: $default-alt;
    padding: 11px 23px 0 0;
    @extend %dmsans-700;
    transition: color 0.5s ease;

    &:hover {
      fill: $main;
      color: $main;
    }
  }

  &__icon {
    content: '';
    position: absolute;
    right: 0;
    bottom: 9px;
    width: 6px;
    height: 11px;
    transition: fill 0.5s ease;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 16px;

    @include for-desktop-up {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 25px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    background-color: $main-light;
    flex-direction: column;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__content {
    padding-left: 30px;
    font-size: 18px;
    line-height: 1.2;
    @extend %dmsans-500;
    max-width: 320px;
    margin-bottom: 14px;

    @include line-clamp($lines-to-show: 3);
    @include for-tablet-portrait-up {
      padding: 0 15px;
    }
  }

  &__link {
    margin-bottom: 33px;
    overflow: hidden;
    transition: color 0.5s ease;

    &:hover {
      color: $button;
    }
  }

  &__author-link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: $default;
    }
  }

  &__subtitle {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(22px);
    width: 102px;
    height: 31px;
    font-size: 14px;
    line-height: 2.1;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    color: $main-light;
    background-color: rgb(163, 187, 200);
    transition: color 0.5s ease;
    @extend %poppins-700;

    &:hover {
      color: $main;
    }
  }

  &__img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__posted {
    padding: 10px 0 16px;
    margin: auto 30px 0;
    @extend %poppins-700;
    font-size: 12px;
    line-height: 2.5;
    border-top: 1px solid $main-light-alt;
  }

  &__date {
    margin-right: 20px;
  }

  &__date,
  &__author {
    position: relative;
    padding-left: 16px;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      height: 12px;
      width: 13px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__date::before {
    background-image: url('../images/icons/calendar.svg');
  }

  &__author::before {
    background-image: url('../images/icons/author-dark.svg');
  }
}
