.recent {
  margin-bottom: 25px;

  &__item {
    padding: 6px;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $main;
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    height: 70px;
    width: 70px;
    border: 2px solid #f9f9f9;
    background-color: #fefefe;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__link {
    display: flex;
  }

  &__content {
    padding: 6px 5px 0;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
    color: $default-dark-alt;
    @extend %rubik-400;
    @include line-clamp(2);
  }

  &__rate {
    max-width: 95px;
    margin-bottom: 3px;
  }

  &__price {
    font-size: 15px;
    line-height: 1.8;
    color: $default-dark-alt;
  }

  &__date {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.5;
    padding-left: 17px;
    color: #a7a7a7;

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -2px;
      width: 13px;
      height: 14px;
      background-image: url('../images/icons/calendar.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
