.top {
  min-height: 125px;
  background-color: $search;
  padding: 29px 0 25px;
  text-align: center;

  &__title {
    font-size: 36px;
    line-height: 1;
    color: #222933;
    @extend %rubik-300;
    margin-bottom: 6px;

    @include for-tablet-portrait-up {
      font-size: 24px;
    }
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__items {
    display: flex;
  }

  &__item {
    font-size: 14px;
    line-height: 1.7;
    color: #979ba0;
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;

      &::after {
        content: '/';
        position: absolute;
        right: -14px;
      }
    }
  }

  &__link {
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: color 0.5s ease, border-color 0.5s ease;
  }

  a.breadcrumbs__link:hover {
    color: $default;
    border-color: $default;
  }
}
