.footer {
  color: $button-alt-dark;
  font-size: 14px;
  line-height: 2;

  &__top {
    padding: 70px 0 69px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    justify-content: space-between;

    @include for-desktop-up {
      justify-content: space-between;
    }

    @include for-tablet-landscape-up {
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px 0;
    }

    @include for-phone-only {
      display: block;
    }
  }

  &__item--contact {
    max-width: 200px;
    padding-top: 10px;
    font-style: inherit;

    @include for-desktop-up {
      margin-right: 50px;
    }
  }

  &__item--services {
    max-width: 190px;
    width: 100%;
    margin-right: 10px;
  }

  &__item--account {
    max-width: 155px;
    width: 100%;
    margin-right: 45px;

    @include for-desktop-up {
      margin-right: 10px;
    }
  }

  &__logo-img {
    margin-bottom: 20px;
    height: 39px;
    width: 146px;
  }

  &__address-item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__address-name {
    text-transform: uppercase;
  }

  &__address-link {
    color: inherit;
  }

  &__title {
    padding-top: 25px;
    margin-bottom: 17px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $default-dark;
    @extend %dmsans-700;

    @include for-phone-only {
      margin-bottom: 5px;
    }
  }

  &__list {
    max-width: 200px;
    @include trim(2);

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__link {
    color: inherit;
    transition: color 0.5s ease;

    &:hover {
      color: $main;
    }
  }

  &__item p {
    padding: 4px 0;
    max-width: 250px;
    line-height: 1.7;
    margin-bottom: 30px;
    @include trim(2);
  }
}

.footer {
  &__bottom {
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    line-height: 2.3;

    @include for-tablet-landscape-up {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    &:not(:last-child) {
      position: relative;
      padding-right: 17px;
      margin-right: 17px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      background-color: $button-alt-dark;
      right: 1px;
      height: 17px;
      width: 2px;
    }
  }

  &__menu-link {
    color: inherit;
    transition: color 0.5s ease;

    &:hover {
      color: $main;
    }
  }
}

.form {
  position: relative;
  display: flex;

  &__placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 17px;
    font-size: 12px;
    line-height: 1;
    color: $placeholder;
    transform: translateY(-50%);
    @extend %dmsans-400;
  }

  &__input {
    padding: 5px 15px;
    max-width: 170px;
    background-color: $main;
    border: transparent;

    &:focus + label {
      display: none;
    }
  }

  &__btn {
    padding: 9px 19px;
    line-height: 1.5;
    background-color: $button;
    color: $main-light;
    border: transparent;
    cursor: pointer;
    @extend %dmsans-400;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $button-alt;
    }
  }
}
