.header {
  padding: 46px 0 50px;
  // min-height: 146px;
  //! display: flex; не могу растолкнуть элементы, вроде как в контейнере проблета, подскажи
  @extend %rubik-500;

  @include for-desktop-up {
    padding: 25px 0;
  }
}

.burger {
  display: none;
  padding: 0;
  margin: 0 19px 0 auto;
  max-width: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: $main;
  outline: transparent;
  z-index: 100;

  @include for-desktop-up {
    display: block;
  }

  @include for-tablet-portrait-up {
    margin: 0 0 10px;
  }

  &__bar {
    display: block;
    height: 2px;
    width: 22px;
    background-color: $main-light;
    margin: 6px auto;
    transition: transform 0.7s ease;
  }

  &.active .burger__bar--top {
    transform: translateY(8px) rotateZ(45deg);
  }

  &.active .burger__bar--bottom {
    transform: translateY(-8px) rotateZ(-45deg);
  }

  &.active .burger__bar--middle {
    width: 0;
  }
}

.logo {
  color: $title;
  font-size: 36px;
  line-height: 1.6;
  margin-right: 150px;

  @include for-desktop-up {
    margin-right: 0;
  }

  @include for-tablet-portrait-up {
    display: inline-block;
    width: 50%;
  }

  &__img {
    height: 39px;
    width: 146px;
    object-fit: contain;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet-portrait-up {
    flex-wrap: wrap;
  }

  &__items {
    display: flex;

    @include for-desktop-up {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 0;
      min-height: calc(100vh - 100px);
      text-align: center;
      background-color: $main-light;
      display: block;
      transform: translateX(-200%);
      transition: transform 0.5s ease;
      z-index: 100;

      @include for-tablet-portrait-up {
        top: 160px;
        min-height: calc(100vh - 160px);
      }
    }

    &.active {
      transform: translateX(0%);
      overflow-y: scroll;
    }
  }

  &__item:not(:last-child) {
    margin-right: 39px;

    @include for-desktop-up {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 15px;
    line-height: 1;
    color: $title;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.5s ease, color 0.5s ease;

    &:hover {
      color: $button;
      border-bottom-color: 1px solid $button;
    }

    @include for-desktop-up {
      display: block;
      padding: 30px 0;
    }

    &--plus::after {
      content: '+';
      position: absolute;
      right: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  @include for-tablet-portrait-up {
    margin-left: auto;
  }

  &__item {
    position: relative;
    font-size: 0;

    &:not(:last-child) {
      display: flex;
      margin-right: 19px;

      @include for-tablet-portrait-up {
        margin-right: 5px;
      }
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $button-alt;

      .user-nav__icon {
        fill: $main-lighten;
      }
    }

    &--favorite,
    &--shop {
      border-radius: 0;
      width: 90px;
      background-color: $main;
    }

    &--favorite {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    &--shop {
      position: relative;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;

      &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 0px;
        height: 32px;
        width: 1px;
        background-color: $main-alt;
      }
    }
  }

  &__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    outline: transparent;
    cursor: pointer;

    &--search {
      background-color: $search;
    }

    &--menu {
      background-color: $button;
    }

    &:hover {
      background-color: $button-alt;

      .user-nav__icon {
        fill: $main-lighten;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $title-alt;
    transition: fill 0.5s ease;

    &--favorite {
      transform: translate(-10%, -15%);
    }

    &--shop {
      transform: translate(-75%, -20%);
    }

    &--menu {
      fill: $main-light;
    }
  }

  &__count {
    content: '';
    position: absolute;
    top: 13px;
    right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 9px;
    text-align: center;
    line-height: 1.8;
    background-color: white;
    color: $title;
    z-index: 10;

    &--favorite {
      right: 20px;
    }

    &--shop {
      right: 30px;
    }
  }
}

.over.active {
  overflow-y: hidden;
}
