.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 15px;
  height: 100%;

  &__image {
    max-height: 210px;
    max-width: 240px;
    margin: 20px 0 auto;
    object-fit: cover;
  }

  &__subtitle {
    max-width: 230px;
    font-size: inherit;
    text-align: center;
    @extend %dmsans-500;
    @include line-clamp($font-size: 16px, $line-height: 2.5, $lines-to-show: 1);
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    color: inherit;
  }

  &__cost {
    line-height: 1;
    margin-bottom: 14px;
    @extend %dmsans-700;
  }

  &__lists {
    position: absolute;
    padding-top: 18px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__detail {
    display: block;
  }

  &__shop,
  &__favorite {
    &:focus {
      outline: transparent;
    }
  }

  &__detail,
  &__shop,
  &__favorite {
    position: relative;
    width: 46px;
    height: 46px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    fill: $button-light;
    background-color: $main-light;
    border-radius: 50%;
    transition: background-color 0.5s ease;

    &:hover {
      fill: $main-lighten;
      background-color: $button;
      cursor: pointer;
    }
  }

  &__icon {
    position: absolute;
    max-height: 22px;
    max-width: 22px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 390px;
  background-color: $main-dark;

  @include for-tablet-portrait-up {
    flex-direction: column;
  }

  &__image {
    margin: -180px 50px 0 0;
    max-height: 405px;
    max-width: 235px;
    object-fit: cover;

    @include for-desktop-up {
      margin: 0 50px 0 0;
    }

    @include for-tablet-portrait-up {
      margin-bottom: 25px;
    }

    @include for-phone-only {
      margin: 0 auto 25px;
    }
  }

  &__img {
    object-fit: cover;

    @include for-tablet-portrait-up {
      max-height: 200px;
    }
  }

  &__content {
    max-width: 350px;
  }

  &__title {
    font-size: 26px;
    line-height: 1.2;
    @extend %dmsans-700;
    margin-bottom: 10px;
    color: $title-alt;
    @include line-clamp($font-size: 26px, $line-height: 1.2, $lines-to-show: 2);

    @include for-tablet-portrait-up {
      font-size: 20px;
      max-width: 100%;
    }
  }

  p {
    max-width: 350px;
    @extend %rubik-400;
    line-height: inherit;
    margin-bottom: 37px;
    color: #334b57;
    @include line-clamp($font-size: 16px, $line-height: 1.9, $lines-to-show: 2);

    @include for-tablet-portrait-up {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  &__link {
    position: relative;
    padding: 20px 88px 20px 20px;
    border-radius: 5px;
    border: 1px solid #b3b7b5;
    font-size: 15px;
    @extend %rubik-500;
    line-height: 1;
    color: $title;
    transition: color 0.5s ease, background-color 0.5s ease;

    @include for-tablet-portrait-up {
      padding: 10px 68px 10px 10px;
    }

    &:hover {
      color: $main-light;
      background-color: $button;

      .products__card-ico {
        fill: $main-light;
      }
    }
  }

  &__ico {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: $title;
    width: 22px;
    height: 9px;
    transition: fill 0.5s ease;
  }
}

.products {
  padding-top: 45px;
  @extend %dmsans-700;
  line-height: 2.5;

  &__title {
    text-align: center;
    color: inherit;
    font-size: 36px;
    margin-bottom: -8px;

    @include for-tablet-portrait-up {
      font-size: 28px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 184px;

    @include for-desktop-up {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 50px;
    }

    @include for-tablet-portrait-up {
      grid-template-columns: auto;
    }
  }

  &__item {
    position: relative;
    max-width: 270px;
    height: 380px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;

    &:hover .product__lists {
      opacity: 1;
    }

    @include for-tablet-landscape-up {
      .product__lists {
        opacity: 1;
      }
    }

    @include for-desktop-up {
      max-width: 100%;
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
      width: 100%;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-desktop-up {
      flex-wrap: wrap;
    }

    &-item {
      max-width: 870px;
      width: 100%;
      background-color: $main-dark;

      @include for-desktop-up {
        max-width: 100%;
      }

      @include for-tablet-landscape-up {
        margin-bottom: 25px;
        min-height: 390px;
      }

      @include for-tablet-portrait-up {
        min-height: 240px;
      }

      &:not(:last-child) {
        @include for-big-desktop-up {
          margin-right: 25px;
        }

        @include for-desktop-up {
          margin-right: 0;
          margin-bottom: 25px;
        }

        @include for-tablet-landscape-up {
          margin-right: 0;
        }
      }
    }
  }

  .mixitup-control-active {
    color: inherit;
  }
}
