.slider {
  ul.slider__items {
    padding: 100px 0 54px;

    @include for-tablet-landscape-up {
      padding-top: 0;
    }
  }

  &__items {
    background-color: $main;
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include for-tablet-portrait-up {
      flex-direction: column;
    }
  }

  &__title {
    max-width: 425px;
    margin-bottom: 24px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title-alt;
    @include trimTitle;

    @include for-desktop-up {
      font-size: 60px;
    }

    @include for-tablet-landscape-up {
      font-size: 48px;
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
    }
  }

  &__text {
    margin-bottom: 40px;
    max-height: 55px;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.7;
    color: $title;
    @extend %rubik-400;
    @include trim(2);

    @include for-tablet-landscape-up {
      font-size: 16px;
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
      padding-right: 5px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 16px 10px 16px 30px;
    max-width: 201px;
    width: 100%;
    color: $main-light;
    background-color: $button;
    font-size: 15px;
    transition: color 0.5s ease, background-color 0.5s ease;
    @include trimTitle;

    @include for-tablet-landscape-up {
      padding: 10px 5px 10px 20px;
      max-width: 150px;
    }

    &:hover {
      color: $button-alt;
      background-color: $main-light;

      .slider__icon {
        fill: $button-alt;
      }
    }
  }

  &__icon {
    content: '';
    position: absolute;
    height: 9px;
    width: 22px;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    fill: $main-light;
    transition: fill 0.5s ease;
  }

  &__content {
    margin: auto 100px auto 0;
    padding-bottom: 80px;
    max-width: 430px;

    @include for-big-desktop-up {
      margin-right: 0px;
    }

    @include for-desktop-up {
      margin: auto 10px;
    }

    @include for-tablet-landscape-up {
      padding: 25px 0;
    }

    @include for-tablet-portrait-up {
      max-width: 600px;
      width: 100%;
    }
  }

  &__image {
    position: relative;
    padding: 175px 0 195px;
    max-height: 634px;
    max-width: 640px;
    width: 100%;

    @include for-desktop-up {
      padding: 100px 0;
      max-width: 360px;
    }

    @include for-tablet-landscape-up {
      padding: 75px 15px 50px;
      max-width: 260px;
    }

    @include for-tablet-portrait-up {
      padding: 10px;
      max-width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 121px;
      top: 0px;
      height: 100%;
      max-width: 634px;
      width: 100%;
      border-radius: 50%;
      background: linear-gradient(-90deg, $main-light, transparent);
      object-fit: contain;
      z-index: -1;

      @include for-desktop-up {
        display: none;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(10px);

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      border: transparent;
      height: 30px;
      width: 30px;
      font-size: 11px;
      border-radius: 50%;
      color: $title-alt;
      outline: transparent;
      background-color: #fde3cc;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: $main-light;
      }
    }

    .slick-active button {
      background-color: $main-light;
    }
  }
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef7f0;

  @include for-desktop-up {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    max-width: 250px;
    @include trim(1);
  }

  &__item {
    position: relative;
    padding: 38px 0 33px 225px;
    max-width: 590px;
    width: 100%;
    @extend %dmsans-400;

    @include for-big-desktop-up {
      padding-left: 125px;
    }

    @include for-desktop-up {
      width: 50%;
    }

    @include for-tablet-landscape-up {
      padding: 25px 0 25px 150px;
      width: 100%;
    }

    @include for-tablet-portrait-up {
      padding-left: 75px;
    }

    p {
      color: #797876;
      max-height: 60px;
      max-width: 215px;
      @include trim(2);

      @include for-tablet-landscape-up {
        max-width: 100%;
      }
    }

    &::before {
      content: '';
      left: 147px;
      top: 47px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include for-big-desktop-up {
        left: 47px;
      }

      @include for-tablet-portrait-up {
        left: 12px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 180px;
      top: 80px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.341);

      @include for-big-desktop-up {
        left: 80px;
      }

      @include for-tablet-portrait-up {
        left: 45px;
      }
    }
  }

  &__item--support {
    border-right: 1px solid #e8e4df;

    @include for-tablet-landscape-up {
      border-right: none;
    }

    &::before {
      height: 50px;
      width: 50px;
      background-image: url('../images/icons/support.svg');
    }
  }

  &__item--payment {
    border-left: 1px solid #e8e4df;

    @include for-desktop-up {
      border-left: none;
    }

    &::before {
      height: 43px;
      width: 48px;
      background-image: url('../images/icons/payment.svg');
    }
  }

  &__item--delivery {
    &::before {
      height: 30px;
      width: 50px;
      background-image: url('../images/icons/delivery.svg');
    }

    &::after {
      left: 185px;
      top: 65px;

      @include for-big-desktop-up {
        left: 85px;
      }

      @include for-tablet-portrait-up {
        left: 50px;
      }
    }
  }

  &__title {
    font-size: 18px;
    line-height: 2.1;
    color: #414141;
    @extend %dmsans-700;
  }
}
