.about {
  padding: 120px 0 61px;

  @include for-tablet-landscape-up {
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include for-tablet-landscape-up {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__image {
    max-width: 570px;
    margin-bottom: 120px;

    @include for-tablet-landscape-up {
      margin-bottom: 0;
    }
  }

  &__content {
    padding: 65px 10px 10px 20px;
    max-width: 570px;

    @include for-tablet-portrait-up {
      padding: 25px 10px 10px;
    }
  }

  &__experience {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
  }

  &__lists {
    padding: 20px 20px 0;

    @include for-phone-only {
      padding: 0 20px;
    }
  }

  &__list {
    color: $title-alt;
  }

  &__years {
    font-size: 140px;
    line-height: 1;
    color: $button;
    @extend %rubik-700;

    @include for-phone-only {
      line-height: 1.5;
      font-size: 120px;
    }
  }

  &__subtitle {
    margin-bottom: 38px;
    font-size: 36px;
    line-height: 1;
    color: $title-alt;
    @extend %dmsans-700;
    @include line-clamp($lines-to-show: 1);

    @include for-phone-only {
      font-size: 20px;
      line-height: 1.5;
      @include line-clamp($lines-to-show: 2);
    }
  }

  &__text {
    padding-bottom: 56px;
    margin-bottom: 30px;
    color: $title-alt;
    border-bottom: 2px solid #e6eaf0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;

    @include for-tablet-landscape-up {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 60px;
    align-items: center;
    font-size: 36px;
    line-height: 1;
    color: $title-alt;
    @extend %dmsans-700;

    &:not(:last-child) {
      border-right: 1px solid #e6eaf0;

      @include for-tablet-landscape-up {
        width: 50%;
        border-right: none;
        border-bottom: 1px solid #e6eaf0;
      }

      @include for-phone-only {
        width: 100%;
        line-height: 1.5;
      }
    }

    @include for-phone-only {
      width: 100%;
    }

    span {
      padding-top: 5px;
      font-size: 16px;
      color: #4c4c4c;
    }

    &--projects::before,
    &--revenue::before,
    &--awards::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include for-phone-only {
        left: 20%;
      }
    }

    &--projects::before {
      width: 36px;
      height: 37px;
      background-image: url('../../images/about/projects.svg');
    }

    &--revenue::before {
      width: 43px;
      height: 39px;
      background-image: url('../../images/about/revenue.svg');
    }

    &--awards::before {
      width: 42px;
      height: 40px;
      background-image: url('../../images/about/awards.svg');
    }
  }
}
