.team {
  padding: 60px 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 310px;
    margin: 0 94px 0 -4px;

    @include for-desktop-up {
      max-width: 75%;
      margin: 0 auto 50px;
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    @extend %dmsans-700;
    color: $title-alt;
    margin-bottom: 25px;

    @include line-clamp($lines-to-show: 1);

    @include for-phone-only {
      line-height: 1.5;
    }
  }

  &__text {
    color: $title-alt;
    margin-bottom: 34px;

    @include for-desktop-up {
      max-width: 100%;
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__join-link {
    position: relative;
    padding: 15px 57px 14px 20px;
    font-size: 15px;
    line-height: 3.6;
    color: $main-light;
    background-color: $button;
    border-radius: 5px;
    @extend %poppins-600;
    border: 1px solid transparent;
    transition: all 0.5s ease;

    &:hover {
      background-color: $main-light;
      color: $button;
      border-color: $button;

      .team__join {
        fill: $button;
      }
    }
  }

  &__join {
    position: absolute;
    width: 15px;
    height: 11px;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
    fill: $main-light;
    transition: fill 0.5s ease;
  }

  &__image {
    max-width: 370px;
    min-height: 320px;
  }

  &__img {
    max-width: 370px;
    min-height: 320px;
    object-fit: cover;

    @include for-phone-only {
      max-width: 290px;
    }
  }

  &__items {
    max-width: 770px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 100px;

    @include for-desktop-up {
      margin: 0 auto;
    }

    @include for-tablet-landscape-up {
      justify-content: center;
      column-gap: 25px;
    }
  }

  &__item {
    position: relative;
    max-width: 370px;
  }

  &__info {
    position: absolute;
    justify-content: space-between;
    display: flex;
    bottom: -59px;
    left: -1px;
    display: flex;
    min-height: 110px;
    max-width: 325px;
    width: 100%;
    background-color: $main-light;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

    @include for-phone-only {
      max-width: 300px;
      left: 0;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    padding: 28px 10px 10px 25px;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &-link {
      position: relative;
      display: block;
      background-color: #f6f6f6;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__list {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__name {
    margin-bottom: 8px;
    color: $title;
    font-size: 22px;
    line-height: 1.1;
    @extend %dmsans-700;
  }

  &__position {
    color: #565872;
  }

  &__instagram {
    width: 27px;
    height: 14px;
  }

  &__google {
    width: 17px;
    height: 17px;
  }

  &__instagram,
  &__google {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #888888;
  }
}
