.author {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 26px 0;
  margin-bottom: 57px;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;

  @include for-tablet-portrait-up{
    flex-wrap: wrap;
    gap: 25px;
  }

  @include for-phone-only{
    justify-content: center;
  }

  &__info {
    display: flex;
  }

  &__image {
    margin-right: 26px;
  }

  &__img {
    height: 76px;
    width: 76px;
    object-fit: cover;
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 1.4;
    color: $default-dark-alt;
    @extend %rubik-500;
  }

  &__position {
    color: #666666;
  }

  &__tags {
    margin-bottom: 6px;
  }

  &__tag,
  &__share {
    display: inline-block;
    width: 68px;
    line-height: 1.6;
    color: $default-dark-alt;
    @extend %rubik-400;
  }

  &__tag-link,
  &__tags {
    color: #999999;
    line-height: 1.6;
  }

  &__tag-link {
    border-bottom: 1px solid transparent;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:hover {
      border-color: $default;
      color: $default;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
  }

  &__shares {
    display: flex;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  &__icon {
    fill: #a1a1a1;
    transition: fill 0.5s ease;

    &:hover {
      fill: $default;
    }

    &--facebook {
      width: 8px;
      height: 16px;
    }
    &--twitter {
      width: 14px;
      height: 12px;
    }
    &--instagram {
      width: 14px;
      height: 14px;
    }
    &--google {
      width: 18px;
      height: 12px;
    }
  }
}
