.posts {
  .recent {
    &__item {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &__content{
      padding: 0 5px 0;
    }

    &__name{
      line-height: 1.4;
      margin-bottom: 3px;
    }
  }

  padding: 120px 0;

  @include for-tablet-landscape-up {
    padding-bottom: 50px;
  }

  &__inner {
    margin-bottom: 77px;
    display: flex;
    justify-content: space-between;

    @include for-tablet-landscape-up {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-items: center;
      padding: 50px 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__content {
    margin-right: 30px;
    max-width: 830px;
    width: 100%;

    @include for-tablet-landscape-up {
      margin-right: 0;
    }
  }

  &__filters {
    max-width: 270px;
    width: 100%;

    @include for-desktop-up {
      min-width: 270px;
    }

    @include for-phone-only {
      max-width: 100%;
    }
  }

  &__image {
    position: relative;
    margin-bottom: 37px;
    min-height: 500px;
    max-width: 830px;
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @include for-tablet-landscape-up {
      min-height: 300px;
    }
  }

  &__posted {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $button;
    padding: 18px 28px 22px;

    @include for-phone-only {
      width: 100%;
    }
  }

  &__date,
  &__author {
    position: relative;
    color: $main-light;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2.5;
    padding-left: 13px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -6px;
      width: 13px;
      height: 14px;
      background-image: url('../../images/icons/calendar-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__author {
    padding-left: 38px;

    &::before {
      left: 18px;
      background-image: url('../../images/icons/author.svg');
    }
  }

  &__title {
    margin-bottom: 23px;
    padding-bottom: 4px;
    font-size: 36px;
    line-height: 1;
    color: $default-dark-alt;
    @extend %rubik-400;
    @include line-clamp(1);

    @include for-tablet-portrait-up {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 36px;
    color: $title-alt;

    p {
      @include line-clamp(6);
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    max-width: 180px;
    width: 100%;
    padding: 19px 18px 21px;
    border: 1px solid $button;
    font-size: 15px;
    line-height: 1;
    @extend %nunito-700;
    color: $button;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:hover {
      background-color: $button;
      color: $main-light;

      .posts__icon {
        fill: $main-light;
      }
    }
  }

  &__icon {
    content: '';
    position: absolute;
    height: 9px;
    width: 22px;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    fill: $button;
    transition: fill 0.5s ease;
  }
}
