.jq-number {
  position: relative;
  padding: 0;
  margin-right: 11px;

  @include for-desktop-up {
    margin-bottom: 20px;
  }

  &__field {
    border: 1px solid $button;

    input {
      display: inline-block;
      padding: 3px 0;
      width: 146px;
      font-size: 15px;
      line-height: 3;
      text-align: center;
      border: none;
      outline: transparent;
      color: $default-dark-alt;
      @extend %rubik-400;
    }
  }

  &__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 51px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: $title;
    }

    &::after {
      top: 23px;
      left: 20px;
      width: 10px;
      height: 2px;
    }

    &.minus {
      border-right: 1px solid $button;
      left: 0;
    }

    &.plus {
      border-left: 1px solid $button;
      right: 0;

      &::before {
        top: 19px;
        left: 24px;
        width: 2px;
        height: 10px;
      }
    }
  }
}
