.slide {
  display: flex;
  height: 530px;
  margin-right: 65px;

  @include for-desktop-up {
    margin-right: 25px;
  }

  @include for-tablet-landscape-up {
    flex-direction: column-reverse;
    margin-right: 0;
    margin: 0 auto;

    .slick-slide {
      margin: 0 15px;
      outline: transparent;

      @include for-phone-only {
        margin: 0 5px;
      }
    }

    .slick-list {
      margin: 0 -15px;

      @include for-phone-only {
        margin: 0 -5px;
      }
    }
  }

  .slick-vertical .slick-slide {
    height: 160px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .slick-track {
    height: 530px;
    width: 138px;

    .slick-slide .slick-active {
      width: 138px;
    }
  }

  .slick-list .slick-track {
    height: 530px;

    @include for-tablet-landscape-up {
      height: 180px;
    }
  }

  &__small {
    width: 138px;
    margin-right: 25px;

    @include for-tablet-landscape-up {
      margin-right: 0;
      width: 100%;
    }
  }

  &__image-small {
    height: 160px;
    width: 138px;
    border: 1px solid $main-light-alt;

    img {
      height: 160px;
      width: 138px;
      object-fit: cover;
    }
  }

  &__big {
    width: 387px;
    border: 1px solid $main-light-alt;

    img {
      position: absolute;
      padding: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 387px;
      max-height: 530px;
      object-fit: cover;
    }

    @include for-tablet-landscape-up {
      margin: 0 auto 20px;
      width: 280px;

      img {
        height: 300px;
        object-fit: contain;
      }

      .slick-list .slick-track {
        height: 330px;
      }
    }
  }
}
