.design {
  @extend %dmsans-700;
  line-height: 2.5;
  padding-top: 74px;

  @include for-tablet-landscape-up {
    padding-top: 25px;
  }

  &__title {
    text-align: center;
    color: inherit;
    font-size: 36px;

    @include for-tablet-portrait-up {
      font-size: 28px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 118px;
    column-gap: 30px;
    row-gap: 35px;

    @include for-desktop-up {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }

  &__item {
    min-height: 246px;
    max-width: 370px;
    width: 100%;
    background-color: #f8f8f8;

    @include for-tablet-landscape-up {
      &:nth-child(2n) {
        margin-right: auto;
      }

      &:nth-child(2n + 1) {
        margin-left: auto;
      }
    }
  }

  &__subtitle {
    padding: 37px 0 2px 36px;
    max-width: 210px;
    font-size: 20px;
    line-height: 1.2;
    color: inherit;
    @extend %dmsans-700;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    @include line-clamp($lines-to-show: 2);
    color: inherit;
  }

  &__style {
    color: $button;
    padding-left: 36px;
  }

  &__image {
    position: relative;
  }

  &__img {
    position: absolute;
    max-height: 150px;
    max-width: 270px;
    object-fit: contain;
    right: 0;
    top: 50%;
    transform: translateY(-27%);

    @include for-tablet-portrait-up {
      width: 180px;
    }
  }

  .mixitup-control-active {
    color: inherit;
  }
}

.video {
  position: relative;
  display: block;
  min-height: 501px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include for-tablet-landscape-up {
    min-height: 301px;
  }

  &__ico {
    fill: $button;
    position: absolute;
    height: 127px;
    width: 127px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.5s ease;

    @include for-tablet-portrait-up {
      transform: scale(0.6) translate(calc(-50% - 51px), calc(-50% - 51px));
    }

    &:hover {
      fill: $button-alt;
    }
  }
}
