.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 390px;
  background-color: $main-dark;

  @include for-tablet-portrait-up {
    flex-direction: column;
  }

  &__image {
    margin: -180px 50px 0 0;
    height: 405px;
    max-width: 235px;
    object-fit: cover;

    @include for-desktop-up {
      margin: 0 50px 0 0;
    }

    @include for-tablet-portrait-up {
      margin-bottom: 25px;
    }

    @include for-phone-only {
      margin: 0 auto 25px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include for-tablet-portrait-up {
      max-height: 200px;
    }
  }

  &__content {
    max-width: 350px;
  }

  &__title {
    font-size: 26px;
    line-height: 1.2;
    @extend %dmsans-700;
    margin-bottom: 10px;
    color: $title-alt;
    @include line-clamp($lines-to-show: 2);

    @include for-tablet-portrait-up {
      font-size: 20px;
      max-width: 100%;
    }
  }

  &__text {
    margin-bottom: 37px;

    p {
      max-width: 350px;
      @extend %rubik-400;
      line-height: inherit;
      color: #334b57;
      @include line-clamp($lines-to-show: 2);

      @include for-tablet-portrait-up {
        font-size: 14px;
        margin-bottom: 25px;
      }
    }
  }

  &__link {
    position: relative;
    padding: 20px 88px 20px 20px;
    border-radius: 5px;
    border: 1px solid #b3b7b5;
    font-size: 15px;
    @extend %rubik-500;
    line-height: 1;
    color: $title;
    transition: color 0.5s ease, background-color 0.5s ease;

    @include for-tablet-portrait-up {
      padding: 10px 68px 10px 10px;
    }

    &:hover {
      color: $main-light;
      background-color: $button;

      .product-card__ico {
        fill: $main-light;
      }
    }
  }

  &__ico {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: $title;
    width: 22px;
    height: 9px;
    transition: fill 0.5s ease;
  }
}
