.products {
  padding-top: 45px;
  @extend %dmsans-700;
  line-height: 2.5;

  &__title {
    text-align: center;
    color: inherit;
    font-size: 36px;
    margin-bottom: -8px;

    @include for-tablet-portrait-up {
      font-size: 28px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 184px;

    @include for-desktop-up {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 50px;
    }

    @include for-tablet-portrait-up {
      grid-template-columns: auto;
    }
  }

  &__item {
    position: relative;
    max-width: 270px;
    height: 380px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;

    &:hover .product__lists {
      opacity: 1;
    }

    @include for-tablet-landscape-up {
      .product__lists {
        opacity: 1;
      }
    }

    @include for-desktop-up {
      max-width: 100%;
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
      width: 100%;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-desktop-up {
      flex-wrap: wrap;
    }

    &-item {
      max-width: 870px;
      width: 100%;
      background-color: $main-dark;

      @include for-desktop-up {
        max-width: 100%;
      }

      @include for-tablet-landscape-up {
        margin-bottom: 25px;
        min-height: 390px;
      }

      @include for-tablet-portrait-up {
        min-height: 240px;
      }

      &:not(:last-child) {
        @include for-big-desktop-up {
          margin-right: 25px;
        }

        @include for-desktop-up {
          margin-right: 0;
          margin-bottom: 25px;
        }

        @include for-tablet-landscape-up {
          margin-right: 0;
        }
      }
    }
  }

  .mixitup-control-active {
    color: inherit;
  }
}
