.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef7f0;

  @include for-desktop-up {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    max-width: 250px;
    @include line-clamp($lines-to-show: 1);
  }

  &__item {
    position: relative;
    padding: 38px 0 33px 225px;
    max-width: 590px;
    width: 100%;
    @extend %dmsans-400;

    @include for-big-desktop-up {
      padding-left: 125px;
    }

    @include for-desktop-up {
      min-height: 170px;
      width: 50%;

      &:not(:last-child) {
        border-bottom: 1px solid #e8e4df;
      }
    }

    @include for-tablet-landscape-up {
      padding: 25px 0 25px 150px;
      width: 100%;
    }

    @include for-tablet-portrait-up {
      padding: 25px 10px 25px 75px;
    }

    p {
      color: #797876;
      max-height: 60px;
      max-width: 215px;
      @include line-clamp($lines-to-show: 2);

      @include for-tablet-landscape-up {
        max-width: 100%;
      }
    }

    &::before {
      content: '';
      left: 147px;
      top: 47px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include for-big-desktop-up {
        left: 47px;
      }

      @include for-tablet-portrait-up {
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 180px;
      top: 80px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.3);

      @include for-big-desktop-up {
        left: 80px;
      }

      @include for-tablet-portrait-up {
        left: 45px;
        top: 95px;
      }
    }

    &--support {
      border-right: 1px solid #e8e4df;

      @include for-tablet-landscape-up {
        border-right: none;
      }

      &::before {
        height: 50px;
        width: 50px;
        background-image: url('../images/icons/support.svg');
      }
    }

    &--payment {
      border-left: 1px solid #e8e4df;

      @include for-desktop-up {
        border-left: none;
      }

      &::before {
        height: 43px;
        width: 48px;
        background-image: url('../images/icons/payment.svg');
      }
    }

    &--delivery {
      &::before {
        height: 30px;
        width: 50px;
        background-image: url('../images/icons/delivery.svg');
      }

      &::after {
        left: 185px;
        top: 65px;

        @include for-big-desktop-up {
          left: 85px;
        }

        @include for-tablet-portrait-up {
          left: 50px;
          top: 85px;
        }
      }
    }
  }

  &__title {
    font-size: 18px;
    line-height: 2.1;
    color: #414141;
    @extend %dmsans-700;
  }
}
