.slider {
  &__items {
    background-color: $main;
    padding: 100px 0 54px;

    @include for-tablet-landscape-up {
      padding: 0 0 54px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include for-tablet-landscape-up {
      flex-direction: column;
    }
  }

  &__title {
    max-width: 425px;
    margin-bottom: 24px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title-alt;
    @include line-clamp($lines-to-show: 2);

    @include for-desktop-up {
      font-size: 60px;
      max-width: 100%;
    }

    @include for-tablet-landscape-up {
      font-size: 48px;
      @include line-clamp($lines-to-show: 1);
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
      @include line-clamp($lines-to-show: 2);
    }

    @include for-phone-only {
      font-size: 36px;
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }

  &__text {
    margin-bottom: 40px;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.7;
    color: $title;
    @extend %rubik-400;
    @include line-clamp($lines-to-show: 2);

    @include for-desktop-up {
      max-width: 100%;
    }

    @include for-tablet-landscape-up {
      font-size: 16px;
      @include line-clamp($lines-to-show: 1);
    }

    @include for-tablet-portrait-up {
      max-width: 100%;
      @include line-clamp($lines-to-show: 2);
    }

    @include for-phone-only {
      margin-bottom: 15px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 16px 10px 16px 30px;
    max-width: 201px;
    width: 100%;
    color: $main-light;
    background-color: $button;
    font-size: 15px;
    transition: color 0.5s ease, background-color 0.5s ease;
    @include line-clamp($lines-to-show: 2);
    cursor: pointer;

    @include for-tablet-landscape-up {
      padding: 10px 5px 10px 20px;
      max-width: 150px;
      line-height: 2.5;
    }

    &:hover {
      color: $button-alt;
      background-color: $main-light;

      .slider__icon {
        fill: $button-alt;
      }
    }
  }

  &__icon {
    content: '';
    position: absolute;
    height: 9px;
    width: 22px;
    top: 50%;
    transform: translateY(-50%);
    right: 19px;
    fill: $main-light;
    transition: fill 0.5s ease;
  }

  &__content {
    margin: auto 100px auto 0;
    padding-bottom: 80px;
    max-width: 430px;

    @include for-big-desktop-up {
      margin-right: 0;
    }

    @include for-desktop-up {
      padding: 25px 10px;
    }

    @include for-tablet-landscape-up {
      max-width: 100%;
    }

    @include for-tablet-portrait-up {
      max-width: 600px;
      width: 100%;
    }
  }

  &__image {
    position: relative;
    padding: 175px 0 195px;
    height: 634px;
    max-width: 640px;
    width: 100%;

    @include for-desktop-up {
      padding: 100px 10px;
      max-width: 360px;
    }

    @include for-tablet-landscape-up {
      height: 234px;
      padding: 25px 0;
      max-width: 400px;
      margin: 0 auto;
    }

    @include for-tablet-portrait-up {
      padding: 10px;
      max-width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 121px;
      top: 0px;
      height: 100%;
      max-width: 634px;
      width: 100%;
      border-radius: 50%;
      background: linear-gradient(-90deg, $main-light, transparent);
      z-index: -1;

      @include for-desktop-up {
        display: none;
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(10px);

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      border: transparent;
      height: 30px;
      width: 30px;
      font-size: 11px;
      border-radius: 50%;
      color: $title-alt;
      outline: transparent;
      background-color: #fde3cc;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: $main-light;
      }
    }

    .slick-active button {
      background-color: $main-light;
    }
  }
}
