<li class="@@class">
  <a class="comments__image-link" href="#">
    <img class="comments__img" src="images/posts/users/@@src" alt="avatar comment user @@name">
  </a>
  <div class="comments__content">
    <div class="comments__info">
      <span class="comments__name">@@name</span>
      <time class="comments__date" datetime="2020-10-11">Add 11 Oct 2020</time>
    </div>
    <div class="comments__text">
      <p>
        @@text
      </p>
    </div>
    <a class="comments__link" href="#">
      Reply
      <svg class="comments__icon">
        <use xlink:href="images/posts/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</li>