<div class="comments">
  <h3 class="comments__count">3 Comments</h3>

  <ul class="comments__items">
    <li class="comments__item">
      <img class="comments__img" src="images/posts/users/1.jpg" alt="avatar comment user">
      <div class="comments__content">
        <div class="comments__info">
          <span class="comments__name">Delores G. Roberts</span>
          <time class="comments__date">Add 11 Oct 2020</time>
        </div>
        <p class="comments__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
          convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Suspendisse orci sem, ultrices
        </p>
        <a class="comments__link" href="#">
          Reply
          <svg class="comments__icon">
            <use xlink:href="images/posts/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
    </li>

    <li class="comments__item comments__item--reply">
      <img class="comments__img" src="images/posts/users/2.jpg" alt="avatar comment user">
      <div class="comments__content">
        <div class="comments__info">
          <span class="comments__name">Shannon S. Williams</span>
          <time class="comments__date">Add 11 Oct 2020</time>
        </div>
        <p class="comments__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
          convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra
        </p>
        <a class="comments__link" href="#">
          Reply
          <svg class="comments__icon">
            <use xlink:href="images/posts/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
    </li>

    <li class="comments__item">
      <img class="comments__img" src="images/posts/users/3.jpg" alt="avatar comment user">
      <div class="comments__content">
        <div class="comments__info">
          <span class="comments__name">Nicholas R. Coley</span>
          <time class="comments__date">Add 11 Oct 2020</time>
        </div>
        <p class="comments__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
          convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Suspendisse orci sem,
        </p>
        <a class="comments__link" href="#">
          Reply
          <svg class="comments__icon">
            <use xlink:href="images/posts/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>

  <h3 class="comments__leave">Leave A Comment</h3>

  <form class="comments__form" action="#">
    <div class="comments__inputs">
      <div class="comments__box-name">
        <input class="comments__input " type="text" placeholder="Name">
      </div>
      <div class="comments__box-mail">
        <input class="comments__input " type="text" placeholder="Mail">
      </div>
    </div>
    <div class="comments__box-comment">
      <textarea class="comments__textarea" placeholder="Comment"></textarea>
    </div>
    <button class="comments__btn" type="submit">Post comment</button>
  </form>
</div>