<li class="posts__item">
  <div class="posts__image">
    <img class="posts__img" src=images/posts/@@src alt="@@alt">
    <div class="posts__posted">
      <time class="posts__date">28 JANUARY, 2020</time>
      <span class="posts__author">By Admin</span>
    </div>
  </div>
  <h3 class="posts__title">
    <a href="#" class="posts__title-link">@@name</a>
  </h3>
  <div class="posts__text">
    <p>
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit
      amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    </p>
  </div>
  <a class="posts__link" href="#">
    View More
    <svg class="posts__icon">
      <use xlink:href="images/icons/sprite.svg#slider-arrow"></use>
    </svg>
  </a>
</li>