<div class="posts__recent">
  <h3 class="filters__title">Recent posts</h3>

  <ul class="recent">
    <li class="recent__item recent__item--posts">
      <a class="recent__link" href="#">
        <div class="recent__image">
          <img class="recent__img" src="images/posts/recent/1.jpg" alt="beige kitchen">
        </div>

        <div class="recent__content recent__content--posts">
          <h4 class="recent__name recent__name--posts">Corem ipsum dolor tetur adipisicing elit</h4>
          <time class="recent__date">28 JANUARY, 2020</time>
        </div>
      </a>
    </li>

    <li class="recent__item recent__item--posts">
      <a class="recent__link" href="#">
        <div class="recent__image">
          <img class="recent__img" src="images/posts/recent/2.jpg" alt="white kitchen">
        </div>

        <div class="recent__content recent__content--posts">
          <h4 class="recent__name recent__name--posts">Fdipisicing elit, sed do eiusmod tempor</h4>
          <time class="recent__date">28 JANUARY, 2020</time>
        </div>
      </a>
    </li>

    <li class="recent__item recent__item--posts">
      <a class="recent__link" href="#">
        <div class="recent__image">
          <img class="recent__img" src="images/posts/recent/3.jpg" alt="white kitchen">
        </div>

        <div class="recent__content recent__content--posts">
          <h4 class="recent__name recent__name--posts">Eonsectetur adipisicing elit, sed do eiusmod </h4>
          <time class="recent__date">28 JANUARY, 2020</time>
        </div>
      </a>
    </li>

    <li class="recent__item recent__item--posts">
      <a class="recent__link" href="#">
        <div class="recent__image">
          <img class="recent__img" src="images/posts/recent/4.jpg" alt="white hallway">
        </div>

        <div class="recent__content recent__content--posts">
          <h4 class="recent__name recent__name--posts">gnim ad minim veniam, quis nostrud </h4>
          <time class="recent__date">28 JANUARY, 2020</time>
        </div>
      </a>
    </li>
  </ul>
</div>