<div class="filters__brand">
  <h3 class="filters__title">Brand</h3>

  <form class="filters__form filters__form--brand" action="#">
    <ul class="filters__items">
      @@loop('_item.html',[
      {
      "class": "filters__checkbox filters__checkbox--up",
      "text": "Rfl",
      "needCount": true,
      "count": "(10)",
      "checked": "checked"
      },
      {
      "class": "filters__checkbox",
      "text": "Brothers",
      "needCount": true,
      "count": "(21)"
      },
      {
      "class": "filters__checkbox",
      "text": "Regal",
      "needCount": true,
      "count": "(3)"
      },
      {
      "class": "filters__checkbox",
      "text": "Nadia",
      "needCount": true,
      "count": "(14)"
      },
      {
      "class": "filters__checkbox",
      "text": "Otobi",
      "needCount": true,
      "count": "(6)"
      } ])
    </ul>
  </form>
</div>