<div class="filters__category">
  <h3 class="filters__title">Category</h3>

  <form class=@@class action="#">
    <ul class="filters__items">
      @@loop('_item.html',[
      {
      "class": "filters__checkbox filters__checkbox--cat",
      "text": "Chair",
      "checked": "checked"
      },
      {
      "class": "filters__checkbox filters__checkbox--cat",
      "text": "Table"
      },
      {
      "class": "filters__checkbox filters__checkbox--cat",
      "text": "Lamp"
      },
      {
      "class": "filters__checkbox filters__checkbox--cat",
      "text": "Watch"
      },
      {
      "class": "filters__checkbox filters__checkbox--cat",
      "text": "Clock"
      } ])
    </ul>
  </form>
</div>