<div class="filters__category">
  <h3 class="filters__title">Category</h3>

  <form class=@@class action="#">
    <ul class="filters__items">
      <li class="filters__item">
        <label class="filters__label">
          <input class="filters__input" type="checkbox" checked>
          <div class="filters__checkbox filters__checkbox--cat">
            <span>Chair</span>
          </div>
        </label>
      </li>

      <li class="filters__item">
        <label class="filters__label">
          <input class="filters__input" type="checkbox">
          <div class="filters__checkbox filters__checkbox--cat">
            <span>Table</span>
          </div>
        </label>
      </li>

      <li class="filters__item">
        <label class="filters__label">
          <input class="filters__input" type="checkbox">
          <div class="filters__checkbox filters__checkbox--cat">
            <span>Lamp</span>
          </div>
        </label>
      </li>

      <li class="filters__item">
        <label class="filters__label">
          <input class="filters__input" type="checkbox">
          <div class="filters__checkbox filters__checkbox--cat">
            <span>Watch</span>
          </div>
        </label>
      </li>

      <li class="filters__item">
        <label class="filters__label">
          <input class="filters__input" type="checkbox">
          <div class="filters__checkbox filters__checkbox--cat">
            <span>Clock</span>
          </div>
        </label>
      </li>
    </ul>
  </form>
</div>