<li class="contact__item">
  <div class="contact__image">
    <svg class="contact__icon contact__icon--@@class">
      <use xlink:href="images/contacts/sprite.svg#@@class"></use>
    </svg>
  </div>

  <h3 class="contact__subtitle">@@title</h3>

  <ul class="contact__lists">

    @@if (context.class === 'address') {
    @@loop('_contact-list.html',[
    {
    "span": "",
    "link": '<a class="contact__link" href="#">2416 Mapleview Drive Tampa, FL 33634</a>'},
    ])}

    @@if (context.class === 'email') {
    @@loop('_contact-list.html',[
    {
    "span": "Main Email :",
    "link": '<a class="contact__link" href="mailto:contact@website.com">contact@website.com</a>'
    },
    {
    "span": "Inquiries :",
    "link": '<a class="contact__link" href="mailto:Info@mail.com">Info@mail.com</a>'
    }
    ])}

    @@if (context.class === 'phone') {
    @@loop('_contact-list.html',[
    {
    "span": "Office Telephone :",
    "link": '<a class="contact__link" href="tel:0029129102320">0029129102320</a>'
    },
    {
    "span": "Mobile :",
    "link": '<a class="contact__link" href="tel:000232439493">000 2324 39493</a>'
    }
    ])}
  </ul>
</li>