<ul class="filter">
  <li class="filter__item">
    <button class=@@class data-filter="all">All</button>
  </li>
  <li class="filter__item">
    <button class=@@class data-filter=".category-f">Furnitures</button>
  </li>
  <li class="filter__item">
    <button class=@@class data-filter=".category-c">Chairs</button>
  </li>
  <li class="filter__item">
    <button class=@@class data-filter=".category-l">Lighting</button>
  </li>
  <li class="filter__item">
    <button class=@@class data-filter=".category-d">Decor</button>
  </li>
</ul>