<li class="@@class">
  <article class="product-card">
    <div class="product-card__image">
      <img class="product-card__img" src=images/index/product-card/@@src alt="@@src">
    </div>

    <div class="product-card__content">
      <h3 class="product-card__title">@@name</h3>
      <p>
        @@text
      </p>
      <a class="product-card__link" href="#">
        View More
        <svg class="product-card__ico">
          <use xlink:href="images/icons/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </article>
</li>