<li class="slider__item">
  <div class="slider__inner">
    <div class="slider__content">
      <h3 class="slider__title">Smart and trendy</h3>

      <div class="slider__text">
        <p>
          Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        </p>
      </div>
      <a class="slider__link">
        Shop Now
        <svg class="slider__icon">
          <use xlink:href="images/icons/sprite.svg#slider-arrow"></use>
        </svg>
      </a>
    </div>

    <div class="slider__image">
      <img class="slider__img" src="images/index/slider/slider-img.png" alt="Beige sofa with two pillows">
    </div>
  </div>
</li>